---
import ImageCard from "../components/ImageCard";
import Layout from "../layouts/Layout.astro"
---


<Layout title="Cats Page">
    <ImageCard name="Fido" desc="Fido is an excellent dog"/>
    <div>
        MEOW! This is the cats page. Welcome!
    </div>
</Layout>
