---
import ImageCard from '../components/ImageCard';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cats Page">
	<div class="container bg-sky-900 w-screen h-screen">
		<div
		class="container flex p-50px"
	>
		<ImageCard name="Stacy" desc="Stacy is an excellent cat" url="src/assets/cats/bodi-raw-q_repJO7xPA-unsplash.jpg" alt="a cat" />
		<ImageCard name="Dom" desc="Dom is an excellent cat" url="src/assets/cats/cedric-vt-IuJc2qh2TcA-unsplash.jpg" alt="a cat" />
		<ImageCard name="Jammie" desc="Jammie is an excellent cat" url="src/assets/cats/georgiana-voiculescu-smgqIwTvf0M-unsplash.jpg" alt="a cat" />
		<ImageCard name="Linwood" desc="Linwood is an excellent cat" url="src/assets/cats/kari-shea-FilM6ng7VGQ-unsplash.jpg" alt="a cat" />
		</div>
	</div>
	
</Layout>
